.singup{
    background-color: #ffffff;
    margin: 0 auto;
    display: block;
    max-width: 446px;
    padding: 2rem;
    button{
        padding: 1rem;
        max-width: 150px;
        border: inherit;
    }
}